@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
@import 'tailwindcss';

:root {
  font-family: Pretendard;
  background-color: #f9fafc;
  box-sizing: border-box;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-main: #5c5aee;
  --color-main-60: #8b8aff;
  --color-main-16: #e5e5fc;
  --color-black-100: #18191c;
  --color-black-80: #464749;
  --color-black-60: #747577;
  --color-black-40: #a3a3a4;
  --color-black-20: #d1d1d2;
  --color-grey-01: #f9f9f9;
  --color-grey-02: #f2f2f2;
  --color-background: #f9fafc;

  --shadow-box: 0 4px 40px 0 rgba(94, 94, 99, 0.1);
}

@utility flex-center {
  @apply flex justify-center items-center;
}

.label-style {
  @apply rounded-sm font-semibold px-2 py-[3px] text-[8px] md:text-xs;
}

.tiptap-button {
  @apply bg-grey-02 p-2 m-1;
}

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }

  h2 {
    @apply text-xl font-bold;
  }

  h3 {
    @apply text-lg font-bold;
  }
}
